:root {
    --bodyBackgroundColor: #000000;
    --containerBackgroundColor: #ffffff;
}

body {
    margin: 0px;
    padding: 0px;

    /* font-family */
    font-weight: 400;
    font-size: 16px;

    background-color: var(--bodyBackgroundColor);

    box-sizing: border-box;
}

#formCountryZip {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main {
    display: flex;
    flex-direction: row;
}

#containerMain {
    width: 80%;
    margin: 2rem auto 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#containerLeft {
    width: 60%;
    padding: 1rem;
    background-color: green;
}

#containerRight {
    width: 30%;
    padding: 0 1rem;
    background-color: red;
    max-height: 90vh;
    overflow: scroll;
}

.containerAccordion {
    margin-bottom: 1rem;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;

    display: flex;
    flex-direction: row;
}
  
.active, .accordion:hover {
    background-color: #ccc;
}
  
.panel {
    padding: 0;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerPreviewLeft {
    display: flex;
    flex-direction: column;
}

.containerPreviewRight {
    display: flex;
    flex-direction: column;
}

.panelPreviewLeft, .panelPreviewRight {
    width: 50%;
}

.panelPreviewLeft > p, .panelPreviewRight > p {
    padding: 0.5rem;
    margin: 0;
}