:root {
    --bodyBackgroundColor: #000000;
    --containerBackgroundColor: #ffffff;
}

body {
    margin: 0px;
    padding: 0px;

    /* font-family */
    font-weight: 400;
    font-size: 16px;

    background-color: var(--bodyBackgroundColor);

    box-sizing: border-box;
}

#formCountryZip {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: yellow;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main {
    display: flex;
    flex-direction: row;
}

#containerMain {
    width: 80%;
    margin: 10vh auto 0px;
    overflow: scroll;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#containerLeft {
    width: 70%;
    background-color: green;
    height: 80vh;
}

#containerRight {
    width: 30%;
    padding: 0 1rem;
    max-height: 80vh;
    overflow: scroll;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 1rem;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    text-align: left;
    outline: none;
    transition: 0.4s;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accordion:first-child {
    margin-top: 0px;
}
  
.active, .accordion:hover {
    background-color: #ccc;
}
  
.panel {
    padding: 0;
    background-color: white;
    max-height: 0;
    width: 90%;
    margin: 0 auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerPreviewLeft {
    display: flex;
    flex-direction: column;
}

.containerPreviewRight {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.panelPreviewLeft {
    width: 65%;
}

.panelPreviewRight {
    width: 35%;
}

.panelPreviewLeft > p {
    margin: 0px;
    padding: 0.5rem 0 0.5rem 1rem;
}

.panelPreviewRight > p {
    padding: 0.5rem 0;
    margin: 0;
}

#containerWeatherDataTop {
    display: flex;
    flex-direction: column;
}

#weatherMinMax {
    display: flex;
    flex-direction: row;
}

#containerWeather {
    display: flex;
    flex-direction: row;
}

#containerWeatherLeft, #containerWeatherRight {
    display: flex;
    flex-direction: column;
}

#containerWeatherDataBottom {
    display: flex;
    flex-direction: row;
}

#containerWeatherDataLeft, #containerWeatherDataRight {
    display: flex;
    flex-direction: row;
}