@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --fontColor: #ffffff;
    --backgroundColor: rgba(255, 255, 255, 0.25);
    --backgroundBlur: blur(2px);
}

body {
    margin: 0px;
    padding: 0px;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: var(--fontColor);

    box-sizing: border-box;

    background-image: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;

    height: 100vh;
}

h2 {
    margin-bottom: 0px;
}

#formCountryZip {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#inputZipCode {
    border: 1px solid var(--fontColor);
    background-color: var(--fontColor);
    margin-top: 0.5rem;
    height: 30px;
    border-radius: 5px;
    padding-left: 0.5rem;
    outline: 0px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
}

#selectCountry {
    border: 1px solid var(--fontColor);
    background-color: var(--fontColor);
    margin: 0.5rem 0.5rem 0px;
    border-radius: 5px;
    padding-left: 0.2rem;
    outline: 0px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
    width: 50%;
}

#buttonSubmit, #buttonGetLocation {
    border: 1px solid var(--fontColor);
    background-color: var(--fontColor);
    margin-top: 0.5rem;
    border-radius: 5px;
    outline: 0px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
}

#buttonGetLocation {
    margin-left: 0.5rem;
    padding: 0px 0.2rem 0;
}

#imgLocation {
    height: 25px;
    margin: 3px 0px 0px;
    padding: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main {
    display: flex;
    flex-direction: row;
}

#containerMain {
    width: 80%;
    margin: 10vh auto 0px;
    overflow: scroll;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#containerLeft {
    width: 70%;
    overflow: scroll;
    height: 79.5vh;
    display: flex;
    flex-direction: column;

    border-radius: 5px;
    background: var(--backgroundColor);
    backdrop-filter: var(--backgroundBlur);
    -webkit-backdrop-filter: blur( 2.5px );
    border: 1px solid var(--backgroundBlur);
}

#containerRight {
    width: 30%;
    padding: 0 1rem;
    height: 80vh;
    overflow: scroll;
}

.accordion {
    cursor: pointer;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    text-align: left;
    outline: none;
    transition: 0.4s;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background: var(--backgroundColor);
    backdrop-filter: var(--backgroundBlur);
    -webkit-backdrop-filter: var(--backgroundBlur);
    border: 1px solid var(--backgroundColor);
}

.accordion:first-child {
    margin-top: 0px;
}
  
.active, .accordion:hover {
    background: rgba( 255, 255, 255, 0.5 );
}
  
.panel {
    padding: 0;
    max-height: 0;
    width: 90%;
    margin: 0 auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background: var(--backgroundColor);
    backdrop-filter: var(--backgroundBlur);
    -webkit-backdrop-filter: var(--backgroundBlur);
}

.containerPreviewLeft {
    display: flex;
    flex-direction: column;
}

.containerPreviewRight {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.panelPreviewLeft {
    width: 65%;
}

.panelPreviewRight {
    width: 35%;
}

.panelPreviewLeft > p {
    margin: 0px;
    padding: 0.5rem 0 0.5rem 1rem;
}

.panelPreviewRight > p {
    padding: 0.5rem 0;
    margin: 0;
}

#containerWeatherDataTop {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
}

#weatherMinMax {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

#containerWeather {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#mainTemperatur {
    font-size: 3rem;
    margin: 0px;
}

#mainDescription {
    margin-top: 0px;
}

#mainIcon {
    color: var(--fontColor);
    fill: #ffffff;
    width: 150px;
}

#containerWeatherRight {
    align-items: center;
}

#containerWeatherLeft, #containerWeatherRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#containerWeatherDataBottom {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#containerWeatherDataLeft, #containerWeatherDataRight {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

@media screen and (max-width: 500px) {
    #containerMain {
        width: 96%;
        flex-direction: column;
        margin-top: 1rem;
    }

    #formCountryZip {
        width: 60%;
    }

    #mainTime {
        text-align: center;
    }

    #containerLeft {
        width: 100%;
        height: fit-content;
    }

    #containerRight {
        width: 100%;
        margin: 1rem 0;
        padding: 0px;
        height: fit-content;
    }

    #containerWeatherDataBottom {
        flex-direction: column;
    }

    .weatherLeft {
        width: 30vw;
    }

    .weatherRight{
        width: 22vw;
    }

    .weatherInfo:first-child, .weatherRight > p:first-child {
        margin-top: 0px;
    }

    .weatherInfo:last-child {
        margin-bottom: 0px;
    }

    #containerWeatherDataLeft, #containerWeatherDataRight {
        justify-content: center;
    }

    #containerWeather {
        flex-direction: column-reverse;
    }

    #containerWeatherLeft {
        align-items: center;
    }

    #containerWeatherDataBottom {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 600px) {
    #containerMain {
        width: 96%;
        flex-direction: column;
        margin-top: 1rem;
    }

    #mainTime {
        text-align: center;
    }

    #containerLeft {
        width: 100%;
        height: fit-content;
    }

    #formCountryZip {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 0.5rem;
        width: 97%;
        margin: 0.5rem auto 0px;
    }
    
    #inputZipCode {
        grid-area: 2 / 1 / 3 / 4;
        width: auto;
        margin: 0px;
    }
    
    #selectCountry {
        grid-area: 1 / 1 / 2 / 8;
        width: 100%;
        margin: 0px;
    }
    
    #buttonSubmit {
        grid-area: 2 / 4 / 3 / 7;
        width: auto;
        margin: 0px;
    }

    #buttonGetLocation {
        grid-area: 2 / 7 / 3 / 8; 
        width: auto;
        margin: 0px;
    }

    #containerRight {
        width: 100%;
        margin: 1rem 0;
        padding: 0px;
        height: fit-content;
    }

    #containerWeatherDataBottom {
        flex-direction: column;
    }

    .weatherLeft {
        width: 30vw;
    }

    .weatherRight {
        width: 22vw;
    }

    .weatherInfo:first-child, .weatherRight > p:first-child {
        margin-top: 0px;
    }

    .weatherInfo:last-child, #mainSunset {
        margin-bottom: 0px;
    }

    #containerWeatherDataLeft, #containerWeatherDataRight {
        justify-content: center;
    }

    #containerWeatherDataBottom {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 900px) {
    #containerMain {
        width: 96%;
        flex-direction: column;
        margin-top: 1rem;
    }

    #containerLeft {
        width: 100%;
        height: fit-content;
    }

    #containerRight {
        width: 100%;
        margin: 1rem 0;
        padding: 0px;
        height: fit-content;
    }
}

@media screen and (max-width: 1050px) {
    #containerMain {
        width: 96%;
    }
}

@media screen and (max-width: 350px) {
    #containerWeatherDataLeft, #containerWeatherDataRight {
        justify-content: space-between;
        padding: 0 1rem;
        gap: 0px;
    }

    .weatherLeft, .weatherRight {
        width: fit-content;
    }

    #containerWeatherDataTop {
        padding: 0;
    }
}